.filasContainer{
  width: 80%;
  padding-top: 15vh;
  width: max-content;
  margin: auto;
}


.pastillasGroup{
    width: max-content; 
    padding: 18px;
    border: 3px solid #08223B;
    border-radius: 2px;
    background-color: #F6F6F6;
}

.pastillasGroup .pastillas{
    width: 3.5em;
    height: 10em;
    box-sizing: border-box;
    outline: 1px solid black;
}

.bordeRojo {
    border: 3px solid #E04141;
  }

.bordeVerde{
    border: none; 
  }

  .stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 8vh;
    
  }

  .statsBandeja{
    width: 500px;
    height: 300px;
    background-color: #08223B;
  }

  .statsLote{
    width: 500px;
    height: 300px;
    background-color: #08223B;
  }