.filasContainer{
  width: 80%;
  padding-top: 15vh;
  width: max-content;
  margin: auto;
}


.pastillasGroup{
    width: max-content; 
    padding: 18px;
    border: 3px solid #08223B;
    border-radius: 2px;
    background-color: #F6F6F6;
}

.pastillasGroup .pastillas{
    width: 3.5em;
    height: 10em;
    box-sizing: border-box;
    outline: 1px solid black;
}


.bordeRojo {
    border: 3px solid #E04141;
  }

.bordeVerde{
    border: none; 
  }

  .stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 8vh;
  }

  .statsBandeja,  .statsLote{
    font-family: "Inter", sans-serif;
    width: 500px;
    height: max-content;
    background-color: #08223B;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tituloBandeja, .tituloLote{
    color: #FFFFFF;
    font-weight: 500;
  }

  

  .statsBandeja, .statsLote p{
    color: #FFFFFF;
    font-weight: 400;
  }

  .chart {
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .chart p {
    position: absolute; 
    margin: 0;
    font-weight: 600;
    text-align: center;
    font-size: 1.5em;
  }

  .bandeja1, .bandeja2, .bandeja3, .bandeja4, .lote1, .lote2, .lote3, .lote4{
    width: 16ch;
    text-align: center;
  }

  .bandejasArriba, .bandejasAbajo, .lotesArriba, .lotesAbajo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .bandejasArriba, .lotesArriba{
    margin-bottom: 8px;
  }

  .pArrays{
    font-size: 20px;
  }

@media (max-width: 1700px) {

  .stats{
    margin-top: 4vh;
  }

    .statsBandeja,  .statsLote{
      width: 450px;
    }

    .tituloBandeja, .tituloLote{
      font-size: 20px;
    }

    .pastillasGroup .pastillas{
      width: 3em;
      height: 7.5em;
  }

  .chart {
    height: 50px; 
  }

  .statsBandeja p, .statsLote p{
    font-size: 12px;
  }

  .pArrays{
    font-size: 1;
  }

  }
