.pastillasContainer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 15vh;
    height: 65vh;
    justify-content: space-around;
}

.pastillasRojas{
    font-family: "Inter", sans-serif;
    color: #08223B;
}



.pastillasVerdes{
    font-family: "Inter", sans-serif;
    color: #08223B;
}

.pastillas{
    width: 3.5em;
    height: 10em;
}

.pastillas.ladoVerde {
    border: 3px solid #0E8553; /* Aplica un borde verde */
  }


.detallePastilla{
    width: 350px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border: 3px solid #08223B;
    border-radius: 3px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 16px;
    height: 100%; 
}

.detalles.detalleVerde {
    margin-bottom: auto; 
}


.scrollPastillas{
    height: 100%;
    overflow: scroll;
}

h3{
    font-weight: 500;
    line-height: 4px;
}

::-webkit-scrollbar {
    display: none;
}

