.homeContainer{
    background-color: #08223B;
    width: 100%;
    position: fixed;
    z-index: 3;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header img{
    width: 500px;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: end;
}

.tabStyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 18px;
    border: 2px solid white;
    width: 150px;
    cursor: pointer;
}

.tabStyle p{
    font-size: 24px;
    color: #FFF;
    margin: auto;
}

.tabStyle.activeTab {
    background-color: #FFF;
  }

  .tabStyle.activeTab p{
    color: #08223B;
}

.tabStyle.activeTab svg line,
.tabStyle.activeTab svg path {
  stroke: #08223B;
  fill: #08223B; /* Cambia el color del path del svg */
}




