.mapaContainer {
    display: flex;
    width: max-content;
    padding-top: 15vh;
    z-index: 2;
    margin: auto;
  }

  /* .mapaScroll{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 35vh);
    overflow-y: scroll;
  } */

  .cuadrado {
    width: 25px;
    height: 25px;
    margin: 2px;
  }
  
  .verde {
    background-color: #0E8553;
  }
  
  .rojo {
    background-color: #E04141;
  }

  @media (max-width: 1700px ) and (max-height: 900px){
    .cuadrado{
      width: 15px;
      height: 15px;
    }
}
  