.mapaContainer {
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    padding-top: 15vh;
    z-index: 2;
    margin: auto;
  }

  .cuadrado {
    width: 40px;
    height: 40px;
    margin: 2px;
  }
  
  .verde {
    background-color: #0E8553;
  }
  
  .rojo {
    background-color: #E04141;
  }
  