.statusContainer{
    display: flex;
    flex-direction: row;
    width: max-content;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 8px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    margin-top: 17vh;
}

.statusTrue{
    background-color: #0E8553;
}

.statusFalse{
    background-color: #E04141;
}

.statusH2{
    color: white;
    font-family: "Inter", sans-serif;
}


@media (max-width: 1700px) and (max-height: 900px){
    .statusH2{
        font-size: 22px;
    }
  }
